---
layout: default
---

<div class="main-content">
	<div class="module color-5">

		<h2>Welcome to ZillaLib</h2>
		<p>ZillaLib is a 2D game creation framework that runs on pretty much every open platform out there. Windows, Linux, Mac OS X, Android, iOS, Chrome Native Client and Emscripten (HTML5).</p>
		<p>It's a sleek C++ library that compiles to all platforms with zero change in the game code. Truly write once, run everywhere. Of course it is still possible to deviate parts easily where needed. For instance for multitouch or touchscreen keyboard inputs.</p>
		<p>The library itself compiles quickly, has zero external dependencies, and links statically adding only around 250kb to the binary size of the game. Still it comes with plenty of features.</p>

		<h3>Games using ZillaLib</h3>
		<p>See <a href="/games/">the games page</a> for a list. These can be played directly in the web browser or downloaded, and come with full source code under the same license as ZillaLib.</p>

		<h3>Sample Code</h3>
		<p>See <a href="/samples/">the samples page</a> or the <a href="https://github.com/schellingb/ZillaLibSamples">ZillaLibSamples</a> GitHub repository for short and easy to understand sample code for almost all features.</p>

		<h3>ZillaLib Features</h3>
		<p>See <a href="https://github.com/schellingb/ZillaLib">README.md on the GitHub repository</a> for a broad overview and feature list.</p>

		<h3>Getting started</h3>
		<p>Check out <a href="https://github.com/schellingb/ZillaLib">README.md on the GitHub repository</a> for setup instructions and how to build for each supported platform.</p>

		<h3>License</h3>
		<p>ZillaLib is available under the <a href="http://www.gzip.org/zlib/zlib_license.html">zlib license</a>.</p>

	</div>

{% comment %}
	{% for post in paginator.posts %}
		<article class="module color-5">
				<h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
				<span class="category">{{ post.categories }}</span>
				<p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
		</article>
	{% endfor %}

	<div class="module pagination color-5">
		{% if paginator.previous_page %}
			<a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
		{% endif %}
		<span class="page_number">&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;</span>
		{% if paginator.next_page %}
			<a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next</a>
		{% endif %}
	</div>
{% endcomment %}

</div>
