<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} &middot; {{ site.name }}{% else %}{{ site.name }} &middot; Home{% endif %}</title>
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="1 days">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="/main.css" type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
</head>
<body>
<div id="wrapper">
	<header id="top" class="main-header">
		<div class="module title color-1">
			<h1><a href="/">ZillaLib</a></h1>
		</div>
		<div class="module description color-2">
			Sleek multiplatform C++ 2D game creation!
		</div>

		<div class="module links color-3">
			<li><a href="/">Home</a></li>
			<li><a href="https://github.com/schellingb/ZillaLib">GitHub</a></li>
			<li><a href="/samples/">Samples</a></li>
			<li><a href="/games/">Games</a></li>
			<li><a href="/project-generator/">Project Generator</a></li>
{% comment %}
			<a href="https://twitter.com/ZillaLib" title="Profile in Twitter" target="_blank">twitter</a>
			<a href="/feed.xml" title="Suscribe to RSS" target="_blank">rss</a>
{% endcomment %}
		</div>

{% comment %}
		<div class="module links color-4">Recent Posts:
{% for post in site.posts limit:20 %}
			<li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
		</div>
{% endcomment %}
	</header>

	{{ content }}

	<div id="push"></div>
</div>

<div id="footer">
	&copy; Bernhard Schelling &middot; Based on <a href="https://github.com/drvy/minimal-block" target="_blank">minimal-block</a> theme &middot; backgrounds by <a href="http://subtlepatterns.com" target="_blank">subtlepatterns.com</a>
</div>

<script>(function(i,r){i['GoogleAnalyticsObject']=r;i[r]=function(){i[r].q.push(arguments)},i[r].l=1*new Date(),i[r].q=[];i[r]('create','UA-74748301-1','auto');i[r]('send','pageview');})(window,'ga');</script>
<script src="//www.google-analytics.com/analytics.js" async></script>

</body>
</html>
